@font-face {
    font-family: 'SEGA LOGO FONT';
    font-style: normal;
    font-weight: normal;
    src: local('SEGA LOGO FONT'), url('SEGA-LOGO-FONT.ttf.woff') format('woff');
  }

  h1 {
    font-family: 'SEGA LOGO FONT';
    color: lightcoral;
    font-weight: 200;
  }